<h1 id="title">It's 5:00 somewhere</h1>

<ul>
  <li>{{#link-to 'clock'}}WHAT TIME IS IT THO{{/link-to}}</li>
  <li>{{#link-to 'timezones'}}Pick a timezone I FUCKIN DARE YA{{/link-to}}</li>
</ul>

{{outlet}}
