<h2>Add Timezone</h2>

<div>{{ view "select" content=timezones selection=selectedTimezone optionValuePath='content.offset' optionLabelPath='content.name'}}</div>

<button {{ action 'add' }}> Add Timezone</button>

<h2>My Timezones</h2>

<ul>
  {{#each model as |zone|}}
    <li>{{zone.name}} <button {{action 'remove' zone}}>Delete</button></li>
  {{/each}}
</ul>
